{% extends "home-layout.html" %}

{% block content %}
<h2>Hello World!</h2>
<div class="ui grid">
    <div class="two column large screen only row">
        <div class="column">
            <div class="ui segment">
                Large Screen
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                Large Screen
            </div>
        </div>
    </div>
    <div class="two column large screen only row">
        <div class="column">
            <div class="ui segment">
                Widescreen
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                Widescreen
            </div>
        </div>
    </div>
    <div class="two column mobile only row">
        <div class="column">
            <div class="ui segment">
                Mobile
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                Mobile
            </div>
        </div>
    </div>
    <div class="three column row">
        <div class="computer only column">
            <div class="ui segment">
                Computer
            </div>
        </div>
        <div class="tablet mobile only column">
            <div class="ui segment">
                Tablet and Mobile
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                All Sizes
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                All Sizes
            </div>
        </div>
    </div>
    <div class="four column computer only row">
        <div class="column">
            <div class="ui segment">
                Computer
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                Computer
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                Computer
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                Computer
            </div>
        </div>
    </div>
    <div class="three column tablet only row">
        <div class="column">
            <div class="ui segment">
                Tablet
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                Tablet
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                Tablet
            </div>
        </div>
    </div>
</div>
{% endblock %}